.TodoItem  {
  border-bottom: 1px solid lightgrey;
  list-style-type: none;
  margin: 0;
  padding: 4px;
}

.TodoItem > div {
  display: grid;
  grid-template: auto / 1fr auto;
}

.TodoItemControls {
  display: block;
}

.TodoItemControls input {
  margin-right: 8px;
}